{% extends "iframe.html" %}
{% block srcDoc %}
  
  <!DOCTYPE html>
  <html lang="en">
  <head>
      <title>Workflow Viewer</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta charset="UTF-8">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="responsive-content"> 
        <h1 id="demo"> Workflow</h1>
    </div>

    <script src="templates/workflow.js"></script>
   
  </body>
</html>
{% endblock %}
